@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
body {
  
  font-family: 'Gloock', serif;
  background-color: beige;
}
/* Centers the text inside a div */
div {
  text-align: center;
}

/* Sets a div with circular image */
#pic {
  margin-top: 50px;
  border-radius: 50%;
}

.card {
  width: 30%;
  margin-top: 50px;
  margin: auto;
  border: 3px grey solid;
}