@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
body {
  font-family: 'Gloock', serif;
}
/* Centers the text inside a div */
div {
  text-align: center;
}

/* Sets a div with circular image */
#pic {
  border-radius: 50%;
}


